APP_ENV=local
APP_URL=http://localhost
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=fashion_brand
DB_USER=root
DB_PASS=your_password_here
INSTAGRAM_URL=https://instagram.com/
INSTAGRAM_REELS_URL=https://instagram.com/reels/
INSTAGRAM_SHOP_URL=https://instagram.com/shop/
